<header><h2>SmartBuy Store 🛒</h2></header>

<nav>
  <a routerLink="/" >Product List</a> |
  <a routerLink="/cart">My Cart 🛒</a>
</nav>

<div class="details-container">
  <img [src]="product.image" alt="{{product.name}}" class="product-img">

  <div class="info">
    <h2>{{product.name}}</h2>
    <p><strong>Price:</strong> {{product.price | currency}}</p>
    
 <label>Quantity:</label>
    <select [(ngModel)]="product.qty">
      <option *ngFor="let q of [1,2,3,4,5,6,7,8,9,10]" [value]="q">{{q}}</option>
    </select>

    <p><strong>Total:</strong> {{product.price * product.qty | currency}}</p>

    <button (click)="addToCart(product); $event.stopPropagation()">
  Add to Cart
</button>
    <br><br>
    <a [routerLink]="['/']"> ⬅️ Back to the page</a>
  </div>
</div>
