.details-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 20px;
  align-items: flex-start;
}

.product-img {
  width: 300px;
  border-radius: 10px;
}

.info {
  font-size: 18px;
}
.info button {
  padding: 5px 10px;
  border: none;
  background-color: #0a0a0a;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.info button:hover {
  background-color: #a5a0a0;
}

header {
  text-align: center;  
  background-color: rgb(12, 12, 12);
  color:white;
  margin-top: 0 !important;
  padding-top: 10px !important;
  padding: 10px 0;
  
}

  nav {
    text-align: center;
    background-color: rgb(5, 5, 5);
    overflow: hidden;
    padding:10px;
    margin-bottom: 25px;
  }
  nav div {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 10px;   /* مسافة بين العناصر */
}
nav a,#Lour3 {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

nav p {
  margin: 0;   /* إزالة المسافات العشوائية */
  color: white;
}

  nav a:hover {
   
    background-color: rgb(194, 185, 188);
  }
