.details-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 20px;
  align-items: flex-start;
}

.product-img {
  width: 300px;
  border-radius: 10px;
}

.info {
  font-size: 18px;
}
.info button {
  padding: 5px 10px;
  border: none;
  background-color: #b9309c;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.info button:hover {
  background-color: #d32f2f;
}

