<header><h2>My Cart 🛒</h2></header>

<nav>
  <p id="Lour2">
    <a routerLink="/">Product List</a> |
    <a routerLink="/cart">My Cart 🛒</a>
  </p>
</nav>

<div *ngIf="!paymentDone" class="cart-page-container">

  <div class="cart-items">
    <div *ngFor="let item of cart; let i=index" class="cart-item">
      <img [src]="item.image" style="width:100px;height:80px;object-fit:cover;">
      <h3>{{ item.name }}</h3>
      <p>Price: {{ item.price | currency }}</p>
      <p>Quantity: {{ item.qty }}</p>
      <p>Total: {{ item.price * item.qty | currency }}</p>

      <button (click)="removeItem(i)">Remove</button>
    </div>
  </div>

  <!-- ✅ Child Component -->
  <div class="checkout-box">
    <h3>Order Summary</h3>
    <p>Total Items: {{ cart.length }}</p>
    <p>Grand Total: {{ getTotal() | currency }}</p>
    
  </div>
  

<app-checkout-form 
    (paymentSuccess)="onPaymentSuccess($event)">
  </app-checkout-form>

</div>

<!-- الرسالة بعد الدفع -->
<div *ngIf="paymentDone" class="payment-success">
  <p>{{ successMessage }}</p>
 <button id="Lour" (click)="goHome()">⬅️ Back to Home</button>
</div>
